Resources:
  AWSEBAutoScalingLaunchTemplate:
    Type: AWS::AutoScaling::LaunchTemplate
    Properties:
      LaunchTemplateName: !Sub "${AWS::StackName}-launch-template"
      LaunchTemplateData:
        InstanceType: t2.micro
        ImageId: !Ref "AWS::StackId"
        SecurityGroupIds:
          - !Ref AWSEBSecurityGroup
